<h1>投稿が完了しました</h1>
<%= link_to 'トップページに戻る', '/posts' %>

<%# データの流れを学ぶ。
フォームから送信された際のデータの流れについて
ブラウザからユーザーがフォームを送信したとき、サーバーに情報を渡すために、リクエストにはパラメーターを含める事ができる。

「パラメーター」
リクエストに含まれてサーバーの外部から渡されるデータの事です。
URLに含めるパラメーターやフォームから送信されるパラメーターがあります。
Railsのコントローラーに辿り着きパラメーターは、paramsというハッシュのようなものに格納されて、届けられます。

「params」
送られてきたパラメーター「データ」をハッシュ({})のような構造で格納したものです。
フォームで送信されたデータもparamsの中に格納されてコントローラーで受け取られます。

text_fieldの後に記載されたキーでparamsに格納されている。
フォームで入力された情報の値は、params[:キー名]として取り出す事ができます。
「content」というキーで、「おはよう」というデータをフォームで送信したとすると
paramsには{content: おはよう}といったハッシュのような構造で格納される。

・createメソッド
モデルが使用できるActiveRecordメソッドの一つです。
保存のために、new→情報を記述→saveとしていたところが、createメソッドの引数を記述して実行するだけで保存できます。
例)
モデル.create(カラム名: 値)
postsテーブルのcontentカラムの情報を保存したい場合。
Post.create(content:params[:content])
と書く %>